.navbar {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    margin: 0 20px;
    transition: color 0.3s ease;
    text-align: center;
  
  }
  
  .q {
    padding-left: 5%;
    padding-right: 5%;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  }
  
  .m {
    padding-left: 5%;
    padding-right: 5%;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .t {
    padding-left: 5%;
    padding-right: 5%;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .s {
    padding-left: 5%;
    padding-right: 5%;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xxx-large;
  }
  
  .logo1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xxx-large;
  }
  
  body {
    background: linear-gradient(150deg, #560000, #000000, black);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scrol;
    background-size: 100% 100%;
    height: 2500px;
  }
  
  .logo {
    color: azure;
    font-size: 70px;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    margin: 0px;
    position: sticky;
    /* position: absolute; */
    left: 25%;
    
  }
  
  .logo1 {
    
    mask: ;
    background: linear-gradient(rgb(0, 173, 230), rgba(207, 0, 0, 0.792));
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
  }
  
  
  
  

  
  .MUSCLE {
    color: aliceblue;
    text-align: center;
    padding-top: 150px;
    justify-content: center;
  
  }
  
  .container
  
  {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto auto auto;
  grid-row-gap: 50px;
  grid-column-gap: 30px;
  height: 40vh;
  color: aliceblue;
  text-align: center;}
  
  
  p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: ;
    padding-left: 8px;
    padding-top: 6%;
  }
  .chest
  {
    border-radius: 30px;
    
  }
  
  .chest:hover {
    /* box-shadow: 0px 0px 30px rgb(255, 0, 0); */
    transition: 0.25s;
    background: linear-gradient(120deg,rgba(255, 0, 0, 0),rgb(0, 203, 88));
  }
  .shoulder
  {
  
    border-radius: 30px;
  }
  
  .shoulder:hover {
    background: linear-gradient(120deg,rgba(255, 0, 0, 0),rgb(0, 203, 10));
    
    transition: 0.25s;
  }
  
  .traps
  {
    border-radius: 30px;
  }
  
  .traps:hover {
    background: linear-gradient(120deg,rgba(255, 0, 0, 0),rgb(0, 203, 10));
    transition: 1.25s;
  }
  .wings
  {
    border-radius: 30px;
  }
  
  .wings:hover {
    background: linear-gradient(120deg,rgba(255, 0, 0, 0),rgb(0, 203, 10));
    /* box-shadow: 0px 0px 30px rgb(255, 0, 212); */
    transition: 0.25s;
  }
  .lowerback
  {
    border-radius: 30px;
  }
  
  .lowerback:hover {
    /* box-shadow: 0px 0px 30px rgb(255, 0, 212); */
    background: linear-gradient(120deg,rgba(255, 0, 0, 0),rgb(0, 203, 10));
    transition: 0.25s;
  }
  .abdominal
  {
    border-radius: 30px;
  }
  
  .abdominal:hover {
    /* box-shadow: 0px 0px 30px rgb(255, 0, 212); */
    background: linear-gradient(120deg,rgba(255, 0, 0, 0),rgb(0, 203, 10));
    transition: 0.25s;
  }
  .thigh
  {
    border-radius: 30px;
  }
  
  .thigh:hover {
    background: linear-gradient(120deg,rgba(255, 0, 0, 0),rgb(0, 203, 10));
    /* box-shadow: 0px 0px 30px rgb(255, 0, 212); */
    transition: 0.25s;
  }
  .calves
  {
    border-radius: 30px;
  }
  
  .calves:hover {
    /* box-shadow: 0px 0px 30px rgb(255, 0, 212); */
    transition: 0.25s;
    background: linear-gradient(120deg,rgba(255, 0, 0, 0),rgb(0, 203, 10));
  }
  .biceps
  {
    border-radius: 30px;
  }
  
  .biceps:hover {
    /* box-shadow: 0px 0px 30px rgb(255, 0, 212);
     */
     background: linear-gradient(120deg,rgba(255, 0, 0, 0),rgb(0, 203, 10));
    transition: 0.25s;
  }
  .triceps
  {
    border-radius: 30px;
  }
  
  .triceps:hover {
    /* box-shadow: 0px 0px 30px rgb(255, 0, 212); */
    transition: 0.25s;
    background: linear-gradient(120deg,rgba(255, 0, 0, 0),rgb(0, 203, 10));
  }
  .forearms
  {
    border-radius: 30px;
  }
  
  .forearms:hover {
    /* box-shadow: 0px 0px 30px rgb(255, 0, 212); */
    background: linear-gradient(120deg,rgba(255, 0, 0, 0),rgb(0, 203, 10));
    transition: 0.25s;
  }
  .push
  {
    border-radius: 30px;
  }
  
  .push:hover {
    background: linear-gradient(120deg,rgba(255, 0, 0, 0),rgb(0, 203, 10));
    /* box-shadow: 0px 0px 30px rgb(255, 0, 212); */
    transition: 0.25s;
  }

        

  
